.link{
  padding: 10px;
  border-radius: 50%;
}

.nav{
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.active{
  color: #a15353;
}

a{
  text-decoration: none;
  color: #3d0000;
}